# Deployment directories
node_modules
dist
# Optional npm cache directory
.npm
# Mac
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#Secrets
aws.config.js